.text-container {
    max-width: 25%;
    max-height: 30%;
    overflow: hidden;
    transform: perspective(800px) rotateX(50deg);
    mask-image: linear-gradient(to bottom, transparent, #000 40%, #000 60%, transparent);
    mask-repeat: no-repeat;
}

.scroll-text {
    position: relative;
    animation: scroll-text linear forwards;
}
@keyframes scroll-text {
    0% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.loading-bar {
    position: relative !important;
    animation: loading-bar linear forwards;
}
@keyframes loading-bar {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}
