.alert-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    pointer-events: none;
}

.alert-box {
    --from-color: #10B981;
    --to-color: #115E59;
    --anim-duration: 2s;

    position: relative;
    z-index: 999;

    max-width: 100%;
    max-height: 25%;

    background: black;
    color: white;

    background: linear-gradient(black, black) padding-box, /* Fake gradient */
        linear-gradient(to right, var(--from-color), var(--to-color), var(--from-color)) border-box;
    border-radius: 1.5rem;
    animation: 10s cycle-border alternate infinite;
    border: 2px solid transparent;

    overflow-y: hidden;

    pointer-events: visible;
}

.alert-text {
    overflow: hidden;

    text-align: center;
}

.alert-button {
    background: linear-gradient(black, black) padding-box, /* Fake gradient */
        linear-gradient(to right, var(--from-color), var(--to-color), var(--from-color)) border-box;
    border: 2px transparent solid;
    animation: 40s cycle-border alternate infinite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.alert-button:hover {
    background: white;
    color: black;
}

@keyframes cycle-border {
    0% { background-position: -1000px -1000px; }
    100% { background-position: 1000px 1000px; }
}

.alert-box.opened {
    top: 0;
    left: 0;

    animation: 250ms slide-in forwards ease-out;
}

.alert-box.closed {
    top: -100%;
    left: 0;
}

@keyframes slide-in {
    from { top: -100%; }
    to { top: 0; }
}